* {
  margin: 0;
  padding: 0;
  font-family: Lato;
}

header {
  display: flex;
  align-items: center;
  justify-content: center;
  border-bottom: 1px solid #f5f4f4;
  background-color: #2f2f2e;
}

.logo {
  font-family: "Inter", sans-serif;
  color: #ffffff;
  letter-spacing: 0.5rem;
  padding: 20px;
}

.row-container {
  display: flex;
  flex-direction: row;
}

.column-container {
  display: flex;
  flex-direction: column;
}

.center {
  display: flex;
  justify-content: center;
  align-items: center;
}

main {
  display: flex;
  flex-direction: row;
  height: 100%;
}

section {
  display: flex;
  flex-direction: column;
  width: 100%;
  flex-grow: 1;
}

.section-heading {
  align-self: center;
  margin-top: 20px;
  border-bottom: 2px solid #2f2f2e;
}

article {
  padding: 40px;
  border-bottom: 1px solid #ddd;
}

article > p {
  margin-top: 20px;
}

.contact-us-form {
  padding: 40px;
}

.form-container {
  padding-top: 20px;
  display: flex;
  flex-direction: column;
}

.field-container {
  display: flex;
  flex-direction: column;
  margin-top: 20px;
}

label {
  font-weight: bold;
  font-size: 1rem;
}

input {
  margin-top: 5px;
  border-radius: 0;
  border: 1px solid #2f2f2e;
  height: 1rem;
  padding: 10px;
  width: 50%;
}

textarea {
  margin-top: 5px;
  border-radius: 0;
  border: 1px solid #2f2f2e;
  padding: 10px;
  width: 50%;
}

.submit {
  background-color: #2f2f2e;
  color: #ffffff;
  font-size: 1.2rem;
  font-weight: bold;
  height: 2.5rem;
  width: 25%;
  padding: 0;
  cursor: pointer;
}

.submit:hover {
  background-color: #ffffff;
  color: #2f2f2e;
  border: 2px solid #2f2f2e;
}

aside {
  position: sticky;
  top: 0;
  right: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 25%;
  height: 100vh;
  border: 1px solid #f5f4f4;
  background-color: #2f2f2e;
  color: #ffffff;
}
.aside-header {
  /* color: #2F2F2E; */
  font-family: "Inter", sans-serif;
  text-align: center;
  font-weight: bold;
  margin-top: 20px;
  margin-bottom: 20px;
}

.profile-pic {
  width: 200px;
  height: 200px;
  border-radius: 50%;
  border: 2px solid #2f2f2e;
}

.about-us-heading {
  border-bottom: 2px solid #f5f4f4;
}

.aside-content {
  font-size: 0.9rem;
  padding: 20px;
}

footer {
  background-color: #2f2f2e;
  height: 100px;
}

.link-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

a {
  margin: 20px;
  color: #ffffff;
}

.copyright {
  color: #ffffff;
}
