* {
    margin: 0;
    padding: 0;
}

header {
    display: flex;
    align-items: center;
    justify-content: center;
    border-bottom: 1px solid #F5F4F4;
}

.logo {
    font-family: 'Inter', sans-serif;
    color: #2F2F2E;
    letter-spacing: 0.5rem;
    padding: 20px;
}