.box {
    height: 100px;
    width: 100px;   
}

main {
    display: flex;
    justify-content: center;
    align-items: center;
}

.top-left {
    background-color: red;
    transform-origin: top left;
    transition-property: transform;
    transition-duration: 1s;
}

main:hover .top-left {
    transform: rotate(90deg);
}

.top-right {
    background-color: yellow;
    transform-origin: top right;
    transition-property: transform;
    transition-duration: 1s;
}

main:hover .top-right {
    transform: rotate(-90deg);
    
}

.bottom-left {
    background-color: blue;
    transform-origin: bottom left;
    transition-property: transform;
    transition-duration: 1s;
}

main:hover .bottom-left {
    transform: rotate(-90deg);
   
}

.bottom-right {
    background-color: green;
    transform-origin: bottom right;
    transition-property: transform;
    transition-duration: 1s;
}

main:hover .bottom-right {
    transform: rotate(90deg);
  
   
}