* {
    margin: 0;
    padding: 0;
    font-family: 'Lato';
}

.album-card {
    background-color: #444445;
    height: 200px;
    display: flex;
    flex-direction: row;
    position: fixed;
    top: 0;
    left: 30px;
    padding: 40px;
    width: 100%;
}

.album-img {
    max-height: 100%;
    max-width: 100%;
}

.album-details {
    position: relative;
    margin-left: 40px;
}

.album-title {
    color: #ffffff;
}

.artist {
    margin-top: 10px;
    color:#ffffff;
}

.album-actions {
    display: inline-flex;
    position: absolute;
    bottom: 0;
    color:#ffffff
}
.album-action {
    margin-right: 20px;
    font-family: serif;
    font-weight: 400;
}

.nav {
    display: flex;
    background-color: #F0F1F1;
    position: fixed;
    left: 0;
    height: 100%;
    width: 30px;
    justify-content: center;
}

.nav-item {
    margin-top: 50px;
}

.main {
    position: fixed;
    top:300px;
    left:30px;
    width: 100% ;
}

table, th, td {
    border: none;
    border-collapse: collapse;
}

table {
    width: calc(100% - 30px);
    margin-left: 10px;
    margin-right: 140px;
}
tr {
    height: 40px; 
}

tr:nth-child(even) {
    background-color: #F0F1F1;
}

td {
    padding: 5px;
}

.serial-number {
    text-align: right;
}

.sync-button {
    color:#2924E7;
    background-color: transparent;
    padding: 3px;
    border: 1px solid #000;
    cursor: pointer;
    font-weight: 600;
}

.footer-card {
    display: flex;
    flex-direction: row;
    position: fixed;
    bottom: 0;
    left: 0;
    background-color: #43689B;
    width: 100%;
    height: 100px;
    padding: 10px;
    align-items: center;
}

.footer-card-details {
    display: flex;
    flex-direction: row;
    margin-left: 10px;
    align-items: center;
    width: 100%;
    position: relative;
}

.footer-card-actions {
    position: absolute;
    right: 0;
    display: flex;
    flex-direction: row;
    color: #ffffff;
}

.footer-card-action {
    margin: 70px;
}
